# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDE byproducts
venv
.idea

# logs
*.log

# setup byproducts
build/
dist/
ksu.egg*

# pytest byproducts
.pytest*
htmlcov/
.coverage
